.aside {
  display: none;
  right: 0;
  float: right;
  z-index: 10;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  &.active {
    background-color: $dark-color;
    position: absolute;
    top: -20px;
    display: flex;

    & .categories__item {
      width: 100%;
      border: 1px solid #2c2c2c;
    }
  }
}

.movie {
  &__filter {
    padding: 10px;
    border: 1px solid $accent-color;

    &:hover {
      background-color: $light-color;
      color: $accent-color;
    }
  }

  &__categories {
    @include flex-align-center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 767px) {
      text-align: right;
    }

    &__years {
      display: block;
      height: 100px;
    }
  }
}

.categories {
  &__item {
    width: 150px;
    padding: 10px;
    @include font-style(16px, normal);
    transition: 0.25s;

    &:focus,
    &:hover {
      box-shadow: inset 0 -5em 0 0 $accent-color;
      color: #242423;
    }

    &.active {
      background-color: $accent-light-color;
    }
  }
}

.menu {
  &__toggle {
    cursor: pointer;
    position: fixed;
    z-index: 999;
    right: 20px;
    height: 29px;
    width: 31px;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border: 2px solid $accent-color;
    background-color: $light-color;

    border-radius: 50%;

    & > .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background-color: $accent-color;
    }

    & > .line1 {
      transform-origin: 0 0;
      transition: transform 0.4s ease-in-out;
    }

    & > .line2 {
      transition: transform 0.2s ease-in-out;
    }

    & > .line3 {
      transform-origin: 0 100%;
      transition: transform 0.4s ease-in-out;
    }

    &,
    &.active {
      &:hover,
      &:focus {
        background-color: $accent-color;
        border-color: $light-color;

      }

      &:hover > .line,
      &:focus > .line {
        background-color: $light-color;
      }
    }

    &.active {
      & > .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color: $accent-color;
      }

      & > .line1 {
        transform: translateX(4px) rotate(45deg);
      }

      & > .line2 {
        transform: scaleY(0);
      }

      & > .line3 {
        transform: translateX(4px) rotate(-45deg);
      }
    }
  }
}

@media (min-width: 767px) {
  .aside {
    display: flex;
  }
  .menu__toggle {
    display: none;
  }
  .categories__item {
    @include font-style(18px, normal);
  }
}

.select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  padding: 10px;
  background-color: $accent-color;
  color: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
}
