@import 'reset';
@import 'mixins';
@import 'general';
@import '../components/Loader';
@import '../components/Wrapper';
@import '../components/SearchDropdown';
@import '../components/MovieListItem';
@import '../pages/PageNotFound';
@import '../pages/Header';
@import '../pages/Main';
@import '../pages/AsideFilter';
@import '../pages/MovieList';
@import '../pages/MovieInfo';
@import '../pages/Footer';
