.header {
  background-color: $dark-color;

  &__logo {
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
  }

  &__section {
    @include flex-align-center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__search {
    @include flex-align-center;
    justify-content: space-around;
    align-self: center;
    gap: 10px;
    width: 100%;
    padding: 5px 15px;
    background-color: rgb(40, 40, 44);

    &-input {
      border: none;
      padding: 5px;
      width: 90%;
      background-color: transparent;
      outline: none;
      color: $light-color;
      @include font-style(16px, normal);
    }

    &-btn {
      display: block;
      color: $accent-color;

      &.hidden {
        display: none;
      }

      &:hover,
      &:focus {
        color: $light-color;
      }
    }
  }
}

.logo {
  &__img {
    transition: width 0.5s ease-in-out;
  }

  &__title {
    display: none;
    color: $light-color;
    font-family: 'Caprasimo', cursive;
    @include font-style(30px, normal);
    text-decoration: none;


  }
}


.header__search {
  display: flex;
  width: 200px;
  background-color: $dark-light-color;

  &.active {
    display: flex;
    top: 120px;

    & > .categories > .categories__item {
      width: 100%;
    }
  }
}

@media screen and (min-width: 460px) {
  .logo {
    &__img {
      width: 75px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 780px) {

  .logo {
    &__title {
      display: block;
    }
  }
}