.item__card {
  @include flex-align-center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  text-decoration: none;
  color: $light-color;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.9), rgb(0 0 0 / 0));
  }
}

.card {
  &__logo {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }

  &__title {
    @include flex-align-center;
    padding-block: 10px;
    @include font-style(14px, normal);
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      overflow: visible;
      white-space: normal;
      height: auto;
    }
  }

  &__description {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: 2px;
    padding: 10px;
    flex-direction: column;
    overflow-wrap: break-word;

    .rate::after {
      content: '\2605'
    }
  }

  &__score {
    color: $gray-color;
    justify-content: space-between;
  }
}

.draw-border {
  border: 2px solid transparent;

  &:focus,
  &:hover {
    border: 2px solid $accent-color;

    .card__title {
      color: $accent-color;
    }
  }
}