.info {
  &__header {
    @include flex-align-center;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    margin-top: 7px;

    @media screen and (min-width: 400px) {
      flex-direction: row;
    }
  }

  &__body {
    @include flex-align-center;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 767px) {
      flex-direction: row;
    }
  }

  &__logo {
    max-width: 300px;
    min-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 15px;
  }

  &__item {
    min-width: 280px;
    max-width: 100%;
    @include font-style(14px, normal);
  }
}

.production__info {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  align-items: start;
  align-self: start;
  flex-direction: column;

}

.item__title {
  color: $accent-color;
}

.movie {
  &__title {
    margin: 5px 0;
    @include font-style(18px, normal);

    &-original {
      @include font-style(16px, italic);
      color: $gray-color;

    }
  }

  &__similar {
    margin-top: 20px;
  }

  &-similar {
    &__title {
      @include font-style(20px, normal);
    }
  }
}

#fivestars {
  fill: $dark-light-color;
}

.rating {
  width: auto;

  @include flex-align-center;
  flex-direction: column;

  &__vote {
    margin-top: 5px;
    //display: none;
    @include font-style(14px, normal);

    @media screen and (min-width: 600px) {
      display: block;
    }
  }
}

.stars {
  &-outer {
    display: inline-block;
  }

  &-outer::before,
  &-inner::before {
    content: '\2605 \2605 \2605 \2605 \2605';
    font-size: 18px;
  }

  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;

    &::before {
      color: #f8ce0b;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.movie__preview {
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 150px;
  max-height: 250px;
  width: 100%;
  display: flex;
  overflow-y: scroll;
}

.preview__item {
  display: inline-block;
  min-width: auto;
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.preview__img {
  object-fit: contain;
  width: auto;
  height: 250px;
}

#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
}