.movies {
  &__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 15px;

    @media screen and (min-width: 460px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 767px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.list__empty {
  display: block;
  text-align: center;
}